:root {
    --main-green-color: hsl(158, 36%, 37%);
    --dark-text-color: hsl(212, 21%, 14%);
    --light-text-color: hsl(228, 12%, 48%);
    --white-color: hsl(0, 0%, 100%);
    --main-font-family: 'Montserrat', sans-serif;
    --second-font-family: 'Fraunces', serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: var(--main-font-family);
    color: var(--dark-text-color);
}

/* PRODUCT CARD */

.container {
    display: flex;
    flex-direction: row;
    width: 600px;
    margin: 0 auto;
    height: 450px;
    justify-content: center;
    margin-top: 250px;
    background-color: var(--white-color);
    border: 1px solid rgba(199, 199, 199, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

img {
    height: 100%;
}

.product_card {
    padding: 25px;
}

.product_type {
    color: var(--light-text-color);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 14px;
}

.product_name {
    font-family: var(--second-font-family);
    font-weight: 700;
    padding: 20px 0;
    font-size: 30px;
    line-height: 30px;
}

.product_discription {
    font-size: 14px;
    line-height: 25px;
    color: var(--light-text-color);
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
}

.price_discount {
    font-family: var(--second-font-family);
    font-weight: 700;
    font-size: 30px;
    color: var(--main-green-color);
}

.price_full {
    text-decoration: line-through;
    color: var(--light-text-color);
    padding-left: 25px;
    font-size: 14px;
}

button {
    background-color: var(--main-green-color);
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: var(--white-color);
    width: 100%;
    cursor: pointer;
    font-weight: 700;
    font-family: var(--main-font-family);
    align-items:center;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.material-symbols-outlined {
    font-size: 17px;
    padding: 0 5px;
}

/* FOOTER */

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 25px;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
 }
