:root {
    --main-green-color: hsl(158, 36%, 37%);
    --dark-text-color: hsl(212, 21%, 14%);
    --light-text-color: hsl(228, 12%, 48%);
    --white-color: hsl(0, 0%, 100%);
    --main-font-family: 'Montserrat', sans-serif;
    --second-font-family: 'Fraunces', serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: var(--main-font-family);
    color: var(--dark-text-color);
}

/* PRODUCT CARD */

.container {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    height: 450px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 200px;
    background-color: var(--white-color);
    border: 1px solid rgba(199, 199, 199, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.image {
  width: 50%;
}

img {
    height: 100%;
}

.product_card {
    padding: 30px;
    width: 50%;
}

.product_type {
    color: var(--light-text-color);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 12px;
}

.product_name {
    font-family: var(--second-font-family);
    font-weight: 700;
    padding: 20px 0;
    font-size: 32px;
    line-height: 30px;
}

.product_discription {
    font-size: 14px;
    line-height: 24px;
    color: var(--light-text-color);
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 15px;
}

.price_discount {
    font-family: var(--second-font-family);
    font-weight: 700;
    font-size: 32px;
    color: var(--main-green-color);
}

.price_full {
    text-decoration: line-through;
    color: var(--light-text-color);
    padding-left: 20px;
    font-size: 13px;
}

button {
    background-color: var(--main-green-color);
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: var(--white-color);
    width: 100%;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    font-family: var(--main-font-family);
    align-items:center;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

button:hover {
    background-color: #1f523f;
}

.material-symbols-outlined {
    font-size: 19px;
    padding: 0 7px;
}

/* FOOTER */

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 25px;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
 }

 @media (max-width: 630px) {
    .container {
      flex-direction: column;
      width: 340px;
      height: 750px;
      margin-top: 20px;
    }
  
    .image {
      position: relative;
      width: 100%;
      height: 300px;
    }
  
    .product_card {
      width: 100%;
    }

    .price {
      padding-top: 20px;
      padding-bottom: 10px;
    }

    .attribution { 
      font-size: 11px; 
      text-align: center; 
      margin: 25px auto;
      position: relative;
    }
  }
  


 /* @media (max-width: 1000px) {
    .shop {
    grid-template-columns: repeat(2, 223px);
    }
} */
/* @media (max-width: 375px) {
    .container {
        flex-direction: column;
        width: 340px;
        height: 750px;
        margin-top: 20px;
    } */
    /* picture {
        display: flex;
        justify-content: center;
    } */
    /* .image {
        width: 100%; 
        height: 46%;
        background-image: inherit;

    }

    .price {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .attribution { 
        font-size: 11px; 
        text-align: center; 
        margin: 25px auto;
        position: relative;
    }
}  */

